.jumbotron{
    background-color:rgb(7, 194, 132);
}
.portfolio1{
    background-color: white;
    height: 160px;
    text-align: center;
}
.portfolio2{
    height: 35%;
}
.portfolio-square{
    background-color: lightgrey;
    height: 200px;
    border-radius: 10px;
}
.about-m{
    background-color: rgb(7, 194, 132);
}
.about-title{
    height: 40%;
}
.about-row{
    background-color: mediumpurple;
    /* test  */
    height: 150px;
}
.about-p{
    color: white;
    font-size: 1.2rem;
}
.button-down{
    text-align: center;
    margin: 10px 35px;
}
.button-down a{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px; 
}

.btn-send{
    background-color: rgb(20, 206, 20);
    border: 1px solid rgb(20, 206, 20);
    border-radius: 5px;
    padding: 5px 15px;
}
.avatar{
    height: 200px;
}
.avatar img{
    height: 100%;
}
.title-avatar>h1{
    font-weight: 600;
}
.bar-j{
    border: none;
    padding: 2px;
    background-color: white;
    opacity: 1;
}
.fa-star{
    font-size: 30px;
}