.jumbotron{
    background-color: rgb(33, 189, 189);
    height: 500px;
}
.column_back{
    height: 100%;
    background-color: tomato;
}
.portfolio{
    height: 600px;
    background-color: violet;
}
.portfolio1{
    background-color: white;
}
.portfolio-square{
    background-color: lightgrey;
    height: 150px;
}